# TEXT MINING for PRACTICE: Python Data Structure (자료구조)
---

## 1. List

In [1]:
# List 선언 및 초기화

x = [] # 또는 list()로도 생성할 수 있습니다.
x = [1,'a',True] 
print(x)
print(type(x))

[1, 'a', True]
<class 'list'>

In [2]:
# List 원소 접근 (READ)
x = [1,2,3] 
print(x[0])
print(type(x[0]))

1
<class 'int'>

In [3]:
# List 원소 추가 (WRITE)
x = [1,2,3] 
print(x)
x.append(4)
print(x)

[1, 2, 3]
[1, 2, 3, 4]

In [4]:
# List 원소 변경 (UPDATE)
x = [1,2,3,4] 
print(x)
x[2] = 100
print(x)

[1, 2, 3, 4]
[1, 2, 100, 4]

In [5]:
# List 원소 삭제 (DELETE)
x = [1,2,3,4] 
print(x)
del x[2]
print(x)

[1, 2, 3, 4]
[1, 2, 4]

In [6]:
# 원소 존재여부 확인
1 in x

True

### 1-1 List간 연산

In [7]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)
c.append(b)
print(c)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [8]:
x = [1,2,3,4,5]
# List Sub-list 접근-2
print(x[0:2])
print(type(x[0:2]))

[1, 2]
<class 'list'>

In [9]:
x = [1,9,2,8,3,7,4,6,5]
print(x)
x=sorted(x)
print(x)
x=sorted(x,reverse=True)
print(x)

[1, 9, 2, 8, 3, 7, 4, 6, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
print(min(x))
print(max(x))
print(sum(x))
print(len(x))

1
9
45
9

In [11]:
# Q. list의 평균은?

In [12]:
# Q. 리스트에 숫자가 아닌 원소가 있을때 연산은 어떻게 될까?

## 2. Dictionary

In [13]:
x = {}  # x = dict()
print(x)
print(type(x))

{}
<class 'dict'>

In [14]:
x = {'a':1, 'b':2, 'c':3}  # x = dict()
print(x)
print(x['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [15]:
x['d']=4
print(x)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
x['d']=10
print(x)

{'a': 1, 'b': 2, 'c': 3, 'd': 10}

In [17]:
del x['d']
print(x)

{'a': 1, 'b': 2, 'c': 3}

In [18]:
'd' in x

False

In [19]:
x = {'a':3, 'b':2, 'c':1}
print(x.keys())
print(x.values())
print(x.items())

dict_keys(['a', 'b', 'c'])
dict_values([3, 2, 1])
dict_items([('a', 3), ('b', 2), ('c', 1)])

In [20]:
sorted_x = sorted(x.items(), key=lambda kv: kv[0], reverse=True)
print(sorted_x)

[('c', 1), ('b', 2), ('a', 3)]

In [21]:
sorted_x = sorted(x.items(), key=lambda kv: kv[1])
print(sorted_x)

[('c', 1), ('b', 2), ('a', 3)]

In [22]:
# Q. Value가 오름차순으로 정렬하되, Value가 같을때는 Key를 기준으로 정렬 하려면?
x = {'a':3, 'b':2, 'c':1, 'd':3}
sorted_x = sorted(x.items(), key=lambda kv: (kv[1], kv[0]))
print(sorted_x)

[('c', 1), ('b', 2), ('a', 3), ('d', 3)]

## 3. Set

In [23]:
x = {1,2,3} # set()
type(x)

set

In [24]:
# READ
for a in x:
    print(a)

1
2
3

In [25]:
# INSERT
x.add(1)
x.add(4)
x.add(5)
x.add(6)
print(x)

{1, 2, 3, 4, 5, 6}

In [26]:
# UPDATE
x.update([1,2,7])
print(x)

{1, 2, 3, 4, 5, 6, 7}

In [27]:
# DELETE
x.remove(7)
print(x)

{1, 2, 3, 4, 5, 6}

In [28]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
#교집합
print(b.intersection(a))
print(a.intersection(b))
#합집합
print(a.union(b))
print(b.union(a))
#차집합
print(a.difference(b))
print(b.difference(a))

{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}

In [29]:
x = ['Korea', 'Canada', 'Japan', 'USA', 'Korea', 'Italy']
print(x, type(x))
x = set(x)
print(x, type(x))

['Korea', 'Canada', 'Japan', 'USA', 'Korea', 'Italy'] <class 'list'>
{'Japan', 'Canada', 'Korea', 'Italy', 'USA'} <class 'set'>

## 4. Tuple

In [30]:
x = () # x = tuple()
type(x)

tuple

In [35]:
x = (100, 10, 20)
print(x[0])

100

In [36]:
# INSERT
x = tuple()
x[0]=1

TypeError: 'tuple' object does not support item assignment

In [37]:
# UPDATE
x=(1,2)
x[0]=3

TypeError: 'tuple' object does not support item assignment

In [38]:
x = (1,2,3)
del x[0]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
x = (1,2,3)
del x
print(x)

NameError: name 'x' is not defined

In [40]:
x = ("Apple", "Banana", "Orange", "Orange")
x.count('Orange')
x.index('Apple')

0

## 5. 자료구조간의 타입 캐스팅(casting)

In [41]:
a = [1,2,3,4]
print(a, type(a))
set_a = set(a)
print(set_a, type(set_a))
tuple_a = tuple(a)
print(tuple_a, type(tuple_a))

dict_a = dict(a)
print(dict_a, type(dict_a))

[1, 2, 3, 4] <class 'list'>
{1, 2, 3, 4} <class 'set'>
(1, 2, 3, 4) <class 'tuple'>

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [42]:
a = {'a':1, 'b':2, 'c':3}
print(a, type(a))
set_a = set(a)
print(set_a, type(set_a))
list_a = list(a)
print(list_a, type(list_a))
tuple_a = tuple(a)
print(tuple_a, type(tuple_a))

list_a = list(a.items())
set_a = set(a.items())
tuple_a = tuple(a.items())
print(list_a)
print(set_a)
print(tuple_a)

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>
{'a', 'c', 'b'} <class 'set'>
['a', 'b', 'c'] <class 'list'>
('a', 'b', 'c') <class 'tuple'>
[('a', 1), ('b', 2), ('c', 3)]
{('b', 2), ('a', 1), ('c', 3)}
(('a', 1), ('b', 2), ('c', 3))